<section class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>
</section>

<section class="grid">
  <section class="col-4">
    <p-card header="uppercase" [subheader]="nombreLower | uppercase">
      {{ nombreLower | uppercase }}
    </p-card>
  </section>
  <section class="col-4">
    <p-card header="lowercase" [subheader]="nombreUpper | lowercase">
      {{ nombreUpper | lowercase }}
    </p-card>
  </section>
  <section class="col-4">
    <p-card header="titlecase" [subheader]="nombreCompleto | titlecase">
      {{ nombreCompleto | titlecase }}
    </p-card>
  </section>
</section>

<section class="text-layout">
  <h1>Date | Fecha | Pipe</h1>
  <p>Pipe para mostrar las fechas</p>
</section>

<section class="grid">
  <section class="col-6">
    <p-card>
      <ul>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date:'short'</li>
        <li>fecha | date:'long'</li>
        <li>fecha | date:'MMMM'</li>
        <li>fecha | date:'custom date'</li>
      </ul>
      <hr />
      <ul>
        <li>fecha | date : "long" : "GMT-4" : "es-HN"</li>
        <li>fecha | date : "long" : "GMT-2"</li>
        <li>fecha | date : "long" : "" : "en"</li>
        <li>fecha | date : "long" : "" : "fr"</li>
      </ul>
    </p-card>
  </section>
  <section class="col-6">
    <p-card>
      <ul>
        <li>{{ fecha }}</li>
        <li>{{ fecha | date }}</li>
        <li>{{ fecha | date : "short" }}</li>
        <li>{{ fecha | date : "long" }}</li>
        <li>
          {{ fecha | date : "MMMM" }}
        </li>
        <li>
          {{ fecha | date : "yyyy GG, dd of MMMM. HH:mm:ss" }}
        </li>
      </ul>
      <hr />
      <ul>
        <li>{{ fecha | date : "long" : "GMT-4" : "es-HN" }}</li>
        <li>{{ fecha | date : "long" : "GMT-2" }}</li>
        <li>{{ fecha | date : "long" : "" : "en" }}</li>
        <li>{{ fecha | date : "long" : "" : "fr" }}</li>
      </ul>
    </p-card>
  </section>
</section>
