<!-- <section class="text-layout">
  <h1>{{ nombre | lowercase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>

  <button
    pButton
    (click)="mostrarNombre()"
    label="Cambiar nombre"
    class="p-button-help"
    icon="pi pi-check"
    iconPos="right"
  ></button>

  <p-card [header]="nombre | titlecase" class="tarjeta">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ipsam,
    ab sunt optio saepe explicabo sint tempore nisi repellendus distinctio ullam
    iusto earum minus quasi repellat perspiciatis molestiae commodi id eligendi
    ut autem dignissimos corrupti cum! Aliquam aperiam, hic tempora ut non unde
    quam itaque molestiae, impedit, voluptates nulla quos?
  </p-card>
</section>
 -->

<app-menu></app-menu>

<router-outlet></router-outlet>
